
body{
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.6;
  font-family: NanumGothic,'Malgun Gothic',dotum,'돋움',sans-serif;
  color: #333;
}

.wrap_focus {
  display: block !important;
}

#mainwrap {
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-image: url(../image/sea.jpg);
}

#mainwrap #pagination {
  padding: 0;
  list-style: none;
  position: fixed;
  height: 60px;
  right: 30px;
  top: 50%;
  margin: -50px 0 0 0;
  overflow: visible;
  z-index: 10;
}

#pagination a {
  text-decoration: none;
  margin: 100% 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #9ba6ab;
  border-radius: 50%;
  border: 1px solid transparent;

  -o-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#pagination a:hover {
  background-color: #fff;
  border: 1px solid #9ba6ab;
  opacity: 1;
}

#intro_button {
  opacity: 1;
}

.focus2 #intro_button {
  opacity: .3;
}

#demo_button {
  opacity: .3;
}

.focus2 #demo_button {
  opacity: 1;
}

#intro {
  top: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 42, 60, 0.8);
  background-size: cover;

  -o-transition: top .7s ease;
  -ms-transition: top .7s ease;
  -moz-transition: top .7s ease;
  -webkit-transition: top .7s ease;
  transition: top .7s ease;
}

.focus2 #intro {
  top: -100%;
}

#intro .bottom {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

#intro .extra {
  position: relative;
  width: 100%;
  z-index: 2;
  height: 110px;
  background: #1c2124;
}

#intro .bottom .bottom_item_wrap {
  width: 400px;
  margin: 15px auto;
}

.profile_wrap {
  font-family: Arial,sans-serif;
  color: #ddd;
  display: inline-block;
  width: 180px;
}

.profile_wrap h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.profile_wrap a {
  color: #ddd;
}

.profile_wrap p {
  margin-top: 5px;
}

.mail_wrap {
  float: left;
  position: relative;
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-top: 20px;
  margin-right: 70px;
  margin-left: 70px;
  cursor: pointer;
}

.mail_wrap svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}

.mail_wrap svg path {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mail_wrap svg .circle {
  fill: #22292c;
}

.mail_wrap:hover svg .circle {
  fill: #ab4445;;
}

.mail_wrap svg .icon {
  fill: #ab4445;
}

.mail_wrap:hover svg .icon {
  fill: #fff;
}

#demo {
  top: 100%;
  position: fixed;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.7);
  background-size: cover;

  -o-transition: top .7s ease;
  -ms-transition: top .7s ease;
  -moz-transition: top .7s ease;
  -webkit-transition: top .7s ease;
  transition: top .7s ease;
}

.focus2 #demo {
  top: 0;
}

#fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 27%;
  z-index: 10;
}

#title {
  position: relative;
  top: 10%;
  left: 50%;
  text-align: center;
  width: 650px;
  margin-left: -325px;
  overflow: hidden;

  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@-o-keyframes ani_title {
  0%    { -o-transform: scale(2); }
  20%   { -o-transform: scale(2); }
  100%  { -o-transform: scale(1); }
}

@-ms-keyframes ani_title {
  0%    { -ms-transform: scale(2); }
  20%   { -ms-transform: scale(2); }
  100%  { -ms-transform: scale(1); }
}

@-moz-keyframes ani_title {
  0%    { -moz-transform: scale(2); }
  20%   { -moz-transform: scale(2); }
  100%  { -moz-transform: scale(1); }
}

@-webkit-keyframes ani_title {
  0%    { -webkit-transform: scale(2); }
  20%   { -webkit-transform: scale(2); }
  100%  { -webkit-transform: scale(1); }
}

@keyframes ani_title {
  0%    { transform: scale(2); }
  20%   { transform: scale(2); }
  100%  { transform: scale(1); }
}

#main_title {
  font-family: Arial,sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #fff;


  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;

  -o-animation: ani_title 2s ease;
  -ms-animation: ani_title 2s ease;
  -moz-animation: ani_title 2s ease;
  -webkit-animation: ani_title 2s ease;
  animation: ani_title 2s ease;
}

.focus2 #main_title {
  color: #111;
}

#fixed a {
  text-decoration: none;
  position: absolute;
  display: block;
  font-size: 24px;
  font-family: Arial,sans-serif;
  text-align: center;

  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-o-keyframes intro_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-ms-keyframes intro_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-moz-keyframes intro_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-webkit-keyframes intro_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes intro_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: 1; }
}

#intro_txt {
  opacity: 1;
  color: #fff;

  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;

  -o-animation: intro_txt 2s ease;
  -ms-animation: intro_txt 2s ease;
  -moz-animation: intro_txt 2s ease;
  -webkit-animation: intro_txt 2s ease;
  animation: intro_txt 2s ease;
}

@-o-keyframes demo_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: .4; }
}

@-ms-keyframes demo_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: .4; }
}

@-moz-keyframes demo_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: .4; }
}

@-webkit-keyframes demo_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: .4; }
}

@keyframes demo_txt {
  0%    { opacity: 0; }
  70%   { opacity: 0; }
  100%  { opacity: .4; }
}

#demo_txt {
  opacity: .4;
  color: #fff;

  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;

  -o-animation: demo_txt 2s ease;
  -ms-animation: demo_txt 2s ease;
  -moz-animation: demo_txt 2s ease;
  -webkit-animation: demo_txt 2s ease;
  animation: demo_txt 2s ease;
}

.focus2 #intro_txt {
  color: #111;
  opacity: .4;
}

.focus2 #demo_txt {
  color: #111;
  opacity: 1;
}

#fixed .links {
  position: relative;
  width: 200px;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  height: 30px;
}

@-o-keyframes link_intro {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%   { left: 0; margin-left: 0; }
  100%  { left: 0; margin-left: 0; }
}

@-ms-keyframes link_intro {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%   { left: 0; margin-left: 0; }
  100%  { left: 0; margin-left: 0; }
}

@-moz-keyframes link_intro {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%   { left: 0; margin-left: 0; }
  100%  { left: 0; margin-left: 0; }
}

@-webkit-keyframes link_intro {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%   { left: 0; margin-left: 0; }
  100%  { left: 0; margin-left: 0; }
}

@keyframes link_intro {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%   { left: 0; margin-left: 0; }
  100%  { left: 0; margin-left: 0; }
}

#fixed .intro_link {
  z-index: 13;
  width: 65px;
  left: 0;
  margin-left: 0;
  -o-animation: link_intro 2s ease;
  -ms-animation: link_intro 2s ease;
  -moz-animation: link_intro 2s ease;
  -webkit-animation: link_intro 2s ease;
  animation: link_intro 2s ease;
}

@-o-keyframes link_demo {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%  { left: 100%; margin-left: -65px; }
  100%  { left: 100%; margin-left: -65px; }
}

@-ms-keyframes link_demo {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%  { left: 100%; margin-left: -65px; }
  100%  { left: 100%; margin-left: -65px; }
}

@-moz-keyframes link_demo {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%  { left: 100%; margin-left: -65px; }
  100%  { left: 100%; margin-left: -65px; }
}

@-webkit-keyframes link_demo {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%  { left: 100%; margin-left: -65px; }
  100%  { left: 100%; margin-left: -65px; }
}

@keyframes link_demo {
  0%    { left: 50%; margin-left: -32.5px; }
  20%   { left: 50%; margin-left: -32.5px; }
  90%  { left: 100%; margin-left: -65px; }
  100%  { left: 100%; margin-left: -65px; }
}

#fixed .demo_link {
  z-index: 12;
  width: 65px;
  left: 100%;
  margin-left: -65px;
  -o-animation: link_demo 2s ease;
  -ms-animation: link_demo 2s ease;
  -moz-animation: link_demo 2s ease;
  -webkit-animation: link_demo 2s ease;
  animation: link_demo 2s ease;
}

#intro_seperater {
  background: #34bee5;
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;

  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.focus2 #intro_seperater {
  background: #111;
  opacity: .4;
}

#demo_seperater {
  background: #fff;
  opacity: .4;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;

  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.focus2 #demo_seperater {
  background: #34bee5;
  opacity: 1;
}

.mouseover:hover {
  opacity: 1 !important;
}

@-o-keyframes ani1 {
  0%    { -o-transform: translate3d(0px, 0px, 0px); }
  50%  { -o-transform: translate3d(0px, -20px, 0px); }
  100%  { -o-transform: translate3d(0px, 0px, 0px); }
}

@-ms-keyframes ani1 {
  0%    { -ms-transform: translate3d(0px, 0px, 0px); }
  50%  { -ms-transform: translate3d(0px, -20px, 0px); }
  100%  { -ms-transform: translate3d(0px, 0px, 0px); }
}

@-moz-keyframes ani1 {
  0%    { -moz-transform: translate3d(0px, 0px, 0px); }
  50%  { -moz-transform: translate3d(0px, -20px, 0px); }
  100%  { -moz-transform: translate3d(0px, 0px, 0px); }
}

@-webkit-keyframes ani1 {
  0%    { -webkit-transform: translate3d(0px, 0px, 0px); }
  50%  { -webkit-transform: translate3d(0px, -20px, 0px); }
  100%  { -webkit-transform: translate3d(0px, 0px, 0px); }
}

@keyframes ani1 {
  0%    { transform: translate3d(0px, 0px, 0px); }
  50%  { transform: translate3d(0px, -20px, 0px); }
  100%  { transform: translate3d(0px, 0px, 0px); }
}

#title .info {
  position: relative;
}

#title p {
  font-size: 17px;
}

.intro_info {
  display: block;
  color: #c0d5db;
  opacity: 0.4;
}

.focus2 .intro_info {
  display: none;
}

.demo_info {
  display: none;
  color: #888;
}

.focus2 .demo_info {
  display: block;
}


.bulldown {
  width: 53px;
  height: 94px;
  position: absolute;
  background: url(../image/img_section0_down.png) no-repeat;
  left: 50%;
  bottom: 120px;
  z-index: 5;
  margin-left: -27px;

  -o-animation: ani1 2s infinite ease;
  -ms-animation: ani1 2s infinite ease;
  -moz-animation: ani1 2s infinite ease;
  -webkit-animation: ani1 2s infinite ease;
  animation: ani1 2s infinite ease;
}